[submodule "elisp/external/gist.el"]
	path = elisp/external/gist.el
	url = https://github.com/mhayashi1120/gist.el.git
[submodule "elisp/external/emacs-rails"]
	path = elisp/external/emacs-rails
	url = git://github.com/map7/emacs-rails.git
[submodule "elisp/external/bongo"]
	path = elisp/external/bongo
	url = https://github.com/dbrock/bongo.git
[submodule "elisp/external/volume-el"]
	path = elisp/external/volume-el
	url = https://github.com/dbrock/volume-el.git
[submodule "elisp/external/twittering-mode"]
	path = elisp/external/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
